body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(200deg, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.tugma {
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px); 
    border-radius: 10px;
    color: white;
    font-size: 18px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.quti {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#p {
    font-size: 20px;
    color: white;
}

.tugma:hover {
    box-shadow: 0 10px 30px 0 black;
    transition: all 0.3s ease;
}